@model ArEnMVCTemplate.Models.IndexViewModel
@{
    ViewBag.Title = MainResources.Manage;
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>@MainResources.ChangeYourAccountSettings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@MainResources.Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink(MainResources.ChangeYourPassword, "ChangePassword")
            }
            else
            {
                @Html.ActionLink(MainResources.Create, "SetPassword")
            }
            ]
        </dd>
        <dt>@MainResources.ExternalLogins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink(MainResources.Manage, "ManageLogins") ]
        </dd>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

             Uncomment the following block after you have set up two-factor authentication
        *@
        @*
            <dt>MainResources.PhoneNumber:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink(MainResources.Change, "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink(MainResources.Remove, "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink(MainResources.Add, "AddPhoneNumber")
                }
                ]
            </dd>
        *@
        <dt>@MainResources.TwoFactorAuthentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>
            @*@if (Model.TwoFactor)
    {
        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <text>@MainResources.Enabled
            <input type="submit" value="@MainResources.Disable" class="btn btn-link" />
            </text>
        }
    }
    else
    {
        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <text>@MainResources.Disabled
            <input type="submit" value="@MainResources.Enable" class="btn btn-link" />
            </text>
        }
    }*@
        </dd>
    </dl>
</div>
